* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pixelify Sans", "Bold";
  background: #1B2D45;
  color: #8C9BAA;
  line-height: 1.8;
  padding: 20px;
}

a {
  text-decoration: none;
}

#container {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(228, 229, 239);
}

.userForm {
  font-family: "Pixelify Sans";
  background: #fff;
  padding: 15px 25px;
  color: #010101;
}

.userForm h1,
.userForm p {
  text-align: center;
}

.userForm .userGroup {
  margin-top: 4px;
  font-family: "Pixelify Sans";
}

.userForm .userGroup label {
  display: block;
  color: #666;
}

.userForm .userGroup input {
  width: 100%;
  padding: 10px;
  border: #caf0f8 1px solid;
  border-radius: 5px;
}

.userForm button {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  background: #1B2D45;
  color: #fff;
  cursor: pointer;
  font-family: "Pixelify Sans";
}

#button1 {
  display: block;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  background: #1B2D45;
  color: #fff;
  cursor: pointer;
  font-family: "Pixelify Sans";
}

#button1:hover {
  background: #8C9BAA;
}

#input1 {
  display: block;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  background: #110101;
  color: #110101;
  cursor: pointer;
}

#input1:hover {
  background: #b7d8d2;
}

.userForm button:hover {
  background: #8C9BAA;
}

.userForm .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 10px;
}

footer a {
  color: #E4ECF1;
}

#foodOptions,
#exerciseOptions {
  display: flex;
  gap: 10px;
}

#foodOptionsContainer,
#exerciseOptionsContainer {
  background: #fff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#foodOptions,
#exerciseOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}