{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Pixelify Sans','Bold';
  background: #023E8A;
  color: #0096C7;
  line-height: 1.8;
  padding: 20px
}
a {
  text-decoration: none;
}
#container {
  margin: 30px auto;
  max-width: 600px;
  padding: 20px;
  background-color: rgb(228, 229, 239);
}
.userForm {
  font-family: 'Pixelify Sans';
  background: #fff;
  padding: 15px 25px;
  color: #010101;
}
.userForm h1,
.userForm p {
  text-align: center;
}
.userForm .userGroup {
  margin-top: 4px;
  font-family: 'Pixelify Sans';
}
.userForm .userGroup label {
  display: block;
  color: #666;
}
.userForm .userGroup input {
  width: 100%;
  padding: 10px;
  border: #CAF0F8 1px solid;
  border-radius: 5px;
}
.userForm button {
  display: block;
  width: 20%;
  padding: 10px;
  margin-top: 20px;
  background: #023E8A;
  color: #fff;
  cursor: pointer;
  font-family: 'Pixelify Sans';
}
#button1 {
  display: block;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  background: #023E8A;
  color: #fff;
  cursor: pointer;
  font-family: 'Pixelify Sans';
}
#button1:hover {
  background: #0096C7;
}
#input1 {
  display: block;
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  background: #FBFCFC;
  color: #110101;
  cursor: pointer;
}
#input1:hover {
  background: #B7D8D2;
}
.userForm button:hover {
  background: #0096C7;
}
.userForm .bottom-text {
  font-size: 13px;
  margin-top: 20px;
}
footer {
  text-align: center;
  margin-top: 10px;
}
footer a {
  color: #49C1A2;
}
#foodOptions,
#exerciseOptions {
  display: flex;
  gap: 10px;
}
#foodOptionsContainer,
#exerciseOptionsContainer {
  background: #fff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#foodOptions,
#exerciseOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Start login css */
.userForm .flexItems{
  display: flex;
}

.userForm .loginButton{
  
  height: 40px;
  margin-top: 20px;
  margin-left: 50px;
  cursor: pointer;
}
.userForm .loginButton:hover{
  content: url("../img/loginHoover.jpg");

}

/* End lohin css */