<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BadBurn</title>
    <link
      href="../static/css/style2.css"
      th:href="@{/css/style2.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Keep trying!</h1>
      <p>
        You did not meet your goal with your current diet and exercise. Don't
        give up, keep working towards your goals.
      </p>
      <p>Keep pushing yourself to stay healthy!</p>
      <a href="http://localhost:8080/user">Back to Homepage</a>
    </div>
  </body>
</html>
