<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GoodBurn</title>
    <link
      href="../static/css/style2.css"
      th:href="@{/css/style2.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Congratulations!</h1>
      <p>
        Good job on your diet and exercise. Your hard work and dedication are on
        track to help you lose weight.
      </p>
      <p>Keep up the great work and stay healthy!</p>
      <a href="http://localhost:8080/user">Back to Homepage</a>
    </div>
  </body>
</html>
