<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
  <head>
    <title>GitFit</title>
    <link
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="container">
      <div class="userForm">
        <h1>Welcome to the Calorie Burner</h1>

        <!-- User Input Section -->
        <h2>User Information</h2>
        <form>
          <div class="userGroup">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required /><br /><br />
          </div>
          <div class="userGroup">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
              <option value="male">Male</option>
              <option value="female">Female</option></select
            ><br /><br />
          </div>

          <div class="userGroup">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required /><br /><br />
          </div>
          <div class="userGroup">
            <!-- Current Weight and Target Weight -->
            <label for="currentWeight">Current Weight (in pounds):</label>
            <input
              type="number"
              id="currentWeight"
              name="currentWeight"
              required
            /><br /><br />
          </div>

          <div class="userGroup">
            <label for="targetWeight">Target Weight (in pounds):</label>
            <input
              type="number"
              id="targetWeight"
              name="targetWeight"
              required
            /><br /><br />
          </div>

          <div class="userGroup">
            <label for="height">Height (in feet):</label>
            <input
              type="number"
              id="height"
              name="height"
              step="0.01"
              required
            /><br /><br />
          </div>

          <div class="userGroup">
            <!-- Set Weight Loss Goal Date -->
            <button id="button1" type="button" onclick="setGoalDate()">
              Set Weight Loss Goal Date
            </button>
            <input
              id="input1"
              type="date"
              id="goalDate"
              name="goalDate"
            /><br /><br />
          </div>
        </form>

        <!-- Food Options Section -->
        <h2>Food Options</h2>
        <div id="foodOptions">
          <!-- Grains (Carbohydrates) -->
          <button onclick="calculateCalories('Bread')">
            Whole Wheat Bread 1 Slice
          </button>
          <button onclick="calculateCalories('Rice')">Brown Rice 1 Cup</button>
          <button onclick="calculateCalories('Oatmeal')">
            Oatmeal 1/2 Cup
          </button>
          <button onclick="calculateCalories('Quinoa')">Quinoa 1/2 Cup</button>
          <button onclick="calculateCalories('Barley')">Barley 1/2 Cup</button>
          <button onclick="calculateCalories('Cereal')">
            Whole Grain Cereal 1 Cup
          </button>

          <!-- Vegetables (Raw) -->
          <button onclick="calculateCalories('Spinach')">Spinach 1 Cup</button>
          <button onclick="calculateCalories('Carrot')">Carrots 1 Cup</button>
          <button onclick="calculateCalories('Peppers')">
            Bell Peppers 1 Cup
          </button>
          <button onclick="calculateCalories('Tomatoes')">
            Tomatoes 1 Cup
          </button>
          <button onclick="calculateCalories('Cauliflower')">
            Cauliflower 1 Cup
          </button>
          <button onclick="calculateCalories('Zucchini')">
            Zucchini 1 Cup
          </button>

          <!-- Fruits -->
          <button onclick="calculateCalories('Banana')">Banana</button>
          <button onclick="calculateCalories('Orange')">Orange</button>
          <button onclick="calculateCalories('Strawberries')">
            Strawberries 1 cup
          </button>
          <button onclick="calculateCalories('Blueberries')">
            Blueberries 1 cup
          </button>
          <button onclick="calculateCalories('Grapes')">Grapes 1 cup</button>
          <button onclick="calculateCalories('Apple')">Apple</button>

          <!-- Dairy (or Dairy Alternatives) -->
          <button onclick="calculateCalories('Yogurt')">
            Greek Yogurt (Low-Fat) 6oz
          </button>
          <button onclick="calculateCalories('Cottage Cheese')">
            Cottage Cheese (Low-Fat) 1 cup
          </button>
          <button onclick="calculateCalories('Almond Milk')">
            Almond Milk (Unsweetened) 1 cup
          </button>
          <button onclick="calculateCalories('Cheese')">
            Cheese (Low-Fat) 1oz
          </button>
          <button onclick="calculateCalories('Soy Milk')">
            Soy Milk (Unsweetened) 1 Cup
          </button>
          <button onclick="calculateCalories('Whole Milk')">
            Whole Milk 8oz
          </button>

          <!-- Proteins -->
          <button onclick="calculateCalories('Salmon')">Salmon 3.5oz</button>
          <button onclick="calculateCalories('Tofu')">Tofu 3.5oz</button>
          <button onclick="calculateCalories('Chicken Breast')">
            Chicken Breast 3.5oz
          </button>
          <button onclick="calculateCalories('Beans')">
            Beans (Black Beans) 1 Cup
          </button>
          <button onclick="calculateCalories('Egg')">Egg</button>
          <button onclick="calculateCalories('Beef')">
            Lean Beef (Sirloin) 3.5oz
          </button>
        </div>

        <!-- Exercise Options Section -->
        <h2>Exercise Options</h2>
        <div id="exerciseOptions">
          <button onclick="calculateCalories('Running')">
            Running (6 mph)
          </button>
          <button onclick="calculateCalories('Cycling')">
            Cycling (12 mph)
          </button>
          <button onclick="calculateCalories('Swimming')">
            Swimming (freestyle)
          </button>
          <button onclick="calculateCalories('Jumping Rope')">
            Jumping Rope
          </button>
          <button onclick="calculateCalories('Rowing')">
            Rowing (moderate intensity)
          </button>
          <button onclick="calculateCalories('Aerobics')">
            Aerobics (high impact)
          </button>
          <button onclick="calculateCalories('Hiking')">Hiking</button>
          <button onclick="calculateCalories('Rock Climbing')">
            Rock Climbing
          </button>
          <button onclick="calculateCalories('Elliptical Trainer')">
            Elliptical Trainer
          </button>
          <button onclick="calculateCalories('Dancing')">
            Dancing (high intensity)
          </button>
          <button onclick="calculateCalories('Boxing')">
            Boxing (sparring)
          </button>
          <button onclick="calculateCalories('Kickboxing')">Kickboxing</button>
          <button onclick="calculateCalories('Pilates')">Pilates</button>
          <button onclick="calculateCalories('Yoga')">Yoga</button>
          <button onclick="calculateCalories('Martial Arts')">
            Martial Arts
          </button>
          <button onclick="calculateCalories('Calisthenics')">
            Calisthenics (moderate intensity)
          </button>
          <button onclick="calculateCalories('Skiing')">
            Skiing (downhill)
          </button>
          <button onclick="calculateCalories('Surfing')">Surfing</button>
          <button onclick="calculateCalories('Paddleboarding')">
            Paddleboarding
          </button>
          <button onclick="calculateCalories('CrossFit')">CrossFit</button>
          <button onclick="calculateCalories('Tennis')">Tennis</button>
          <button onclick="calculateCalories('Basketball')">Basketball</button>
          <button onclick="calculateCalories('Soccer')">Soccer</button>
          <button onclick="calculateCalories('Gardening')">Gardening</button>
          <button onclick="calculateCalories('Jumping Jacks')">
            Jumping Jacks
          </button>
          <button onclick="calculateCalories('Push-Ups')">Push-Ups</button>
          <button onclick="calculateCalories('Squat Jumps')">
            Squat Jumps
          </button>
        </div>

        <!-- Results Section -->

        <h2>Results</h2>
        <p id="result"></p>
        <input
          id="button1"
          type="button"
          value="Submit"
          onclick="submitUserInfo()"
        />
      </div>
    </div>
  </body>
</html>
