<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="../static/css/style.css"
      th:href="@{/css/style.css}"
      rel="stylesheet"
    />
    <title>Document</title>
</head>
<body>
    <form action="#" th:action="@{/adduser}" method="post" th:object="${users}">
        <div class="userGroup">
          <label for="name">Name:</label>
          <input type="text" th:field="*{name}" required /><br /><br />
        </div>
        <div class="userGroup">
          <label for="gender">Gender:</label>
          <input type="radio" th:field="*{gender}" value="Male" />Male
          <input type="radio" th:field="*{gender}" value="Female" />Female<br/><br /><br />
        </div>

        <div class="userGroup">
          <label for="age">Age:</label>
          <input type="number" th:field="*{age}" required /><br /><br />
        </div>
        <div class="userGroup">
          <!-- Current Weight and Target Weight -->
          <label for="currentWeight">Current Weight (in pounds):</label>
          <input
            type="number"
            th:field="*{currentWeight}"
            required
          /><br /><br />
        </div>

        <div class="userGroup">
          <label for="targetWeight">Target Weight (in pounds):</label>
          <input
            type="number"
            th:field="*{targetWeight}"
            required
          /><br /><br />
        </div>

        <div class="userGroup">
          <label for="height">Height (in feet):</label>
          <input
            type="number"
            th:field="*{height}"
            required
          /><br /><br />
        </div>

        <!-- <div class="userGroup"> -->
          <!-- Set Weight Loss Goal Date -->
          <!-- <button id="button1" type="button" onclick="setGoalDate()">
            Set Weight Loss Goal Date
          </button>
          <input
            id="input1"
            type="date"
            id="goalDate"
            name="goalDate"
          /><br /><br />
        </div> -->
      </form>
</body>
</html>