/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li, form, button {
    margin: 0;
    padding: 0;
}

/*background color and default font */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    background: linear-gradient(to bottom, #ffcc00, #ff6600);
    padding: 20px;
}

/* Style the header section */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 24px;
    font-weight: bold;
}

/* the main content container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000;
    color:#ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Headings and form labels */
h1, h2, h3 {
    margin-bottom: 20px;
    font-weight: bold;
    color:#00ff00;
}

/* Style form elements */
label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
input[type="number"],
select,
button[type="button"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="button"] {
    background-color: #00ff00;
    color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3 ease, color 0.3s ease;
}

/*Food options section */
#foodOptions {
    display: flex;
    flex-wrap: wrap;
}

#foodOptions button {
    flex: 0 0 calc(33.33% - 10px); /* Adjust as needed for desired layout */
    margin: 5px;
    padding: 10px;
    background-color: #00ff00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the exercise options section */
#exerciseOptions {
    margin-top: 20px;
}

#exerciseOptions h2 {
    margin-bottom: 10px;
}

#exerciseOptions button {
    display: block;
    margin: 5px 0;
    padding: 10px;
    background-color: #00ff00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* results section */
#result {
    margin-top: 20px;
    font-weight: bold;
}
